/* Helper Switch Styles */
.switch {
    width: 160px!important;
    display: block;
    height: 26px;
    position: relative;
}

.switch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.switch a {
    display: block;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 3px;
}

.switch label,.switch>span {
    line-height: 26px;
    vertical-align: middle;
    padding: 0;
}

.switch input {
    position: absolute;
    opacity: 0
}

.switch label {
    position: relative;
    z-index: 2;
    width: 50%!important;
    height: 100%;
    margin: 0;
    text-align: center;
    float: left;
    text-shadow: none;
}

.switch a {
    position: absolute;
    top: 0;
    padding: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    color: #fff;
    border: solid 1px #279CBB;
    background-color: #2eacce;
    left: 0;
    -webkit-box-shadow: "#1B7088" 0 -1px 0 inset;
    box-shadow: "#1B7088" 0 -1px 0 inset
}

.switch input:last-of-type:checked ~ a {
    border: solid 1px #CA6F6F;
    background-color: #E08F95;
    left: 50%;
    -webkit-box-shadow: "#5C5C5C" 0 -1px 0 inset;
    box-shadow: "#5C5C5C" 0 -1px 0 inset
}

.switch input:disabled ~ a {
    border: solid 1px #b3b3b3 !important;
    background-color: #cdcdcd !important;
    -webkit-box-shadow: #b3b3b3 0 -1px 0 inset !important;
    box-shadow: #b3b3b3 0 -1px 0 inset !important
}

.switch.switch-3 label,.switch.switch-3 a {
    width: 33.33333%
}

.switch.switch-3 input:checked:nth-of-type(2) ~ a {
    left: 33.33333%
}

.switch.switch-3 input:checked:last-of-type ~ a {
    left: 66.66667%
}

.switch.switch-4 label,.switch.switch-4 a {
    width: 25%
}

.switch.switch-4 input:checked:nth-of-type(2) ~ a {
    left: 25%
}

.switch.switch-4 input:checked:nth-of-type(3) ~ a {
    left: 50%
}

.switch.switch-4 input:checked:last-of-type ~ a {
    left: 75%
}

.switch.switch-5 label,.switch.switch-5 a {
    width: 20%
}

.switch.switch-5 input:checked:nth-of-type(2) ~ a {
    left: 20%
}

.switch.switch-5 input:checked:nth-of-type(3) ~ a {
    left: 40%
}

.switch.switch-5 input:checked:nth-of-type(4) ~ a {
    left: 60%
}

.switch.switch-5 input:checked:last-of-type ~ a {
    left: 80%
}

.prestashop-switch {
    background-color: #eee;
    border-radius: 3px;
    color: #333;
    text-align: center;
    -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 4px 1px inset;
    box-shadow: rgba(0,0,0,0.15) 0 1px 4px 1px inset;
    /* margin-left: 25%; */
}

.prestashop-switch * {
    outline: 0 !important
}

.prestashop-switch label {
    text-transform: uppercase;
    color: #bbb;
    font-weight: 400;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out
}

.prestashop-switch input:checked+label {
    color: #fff
}

.prestashop-switch>span {
    color: #666;
    text-transform: uppercase;
    cursor: pointer
}

.prestashop-switch.switch-light input:checked ~ a {
    border: solid 1px #72C279;
    background-color: #96d19b;
    -webkit-box-shadow: #72C279 0 -1px 0 inset;
    box-shadow: #72C279 0 -1px 0 inset
}

.prestashop-switch.switch-light input:checked ~ span span:first-of-type {
    color: #fff
}

.prestashop-switch.switch-light input:checked ~ span span:last-of-type {
    color: #ccc
}

.prestashop-switch.switch-light input ~ a {
    border: solid 1px #E08F95;
    background-color: #ebb7bb;
    -webkit-box-shadow: #E08F95 0 -1px 0 inset;
    box-shadow: #E08F95 0 -1px 0 inset
}

.prestashop-switch.switch-light input ~ span span:first-of-type {
    color: #ccc
}

.prestashop-switch.switch-light input ~ span span:last-of-type {
    color: #fff
}
/* Helper Switch Styles */

/* PM Cross Selling related Styles */
#pm_support_informations {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
}

#pm_support_informations, #pm_panel_cs_modules_bottom {
    border: 1px solid #CCCED7;
    margin-top: 20px;
}

.pm_link {
    color: #00aff0;
}

.pm_link:hover {
    text-decoration: underline;
}

#pm_panel_cs_modules_bottom {
    height: 250px;
    margin-left: 20%;
    margin-right: 20%;
}

#pm_panel_cs_modules_bottom iframe {
    height: 185px;
}

.form-control-static {
    padding-top: 7px;
    padding-left: 23em;
}
/* PM Cross Selling related Styles */

input[name=submitpm_advancedcookiebannerModule] {
    margin-left: 20%;
    margin-top: 20px;
}
fieldset#fieldset_0 .bo-remove-padding-left > .margin-form {
    padding-left: 0!important;
}
fieldset#fieldset_0 .bo-remove-padding-left .margin-form .preference_description {
    padding-left: 260px;
}

.bo-remove-padding-left {
    padding-left: 0!important;
}

fieldset#fieldset_0 {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #fff;
}
fieldset#fieldset_0 .labelDesc .margin-form {
    padding: 0!important;
}
fieldset#fieldset_0 .hide {
    display: none!important;
}
fieldset#fieldset_0 .acbRadio {
    display: block;
}
fieldset#fieldset_0 .acbRadio label {
    display: inline-block;
    float: none;
    width: auto;
}
fieldset#fieldset_0 .acbOption {
    font-size: 13px;
}
#acbReceiverAnalytics, #acbReceiverMarketing {
    width: 95%;
    height: 95%;
}
#acbReceiverAnalytics .acbPlaceholder , #acbReceiverMarketing .acbPlaceholder {
    width: auto;
}
.acbOption.moduleColumnsOptionContainer {
    border: 1px solid #ccc;
    padding: 0.5rem;
}
li.acbModuleBlacklist {
    box-sizing: border-box;
}
li.acbModuleBlacklist.ui-sortable-helper {
    height: 3rem!important;/* Use important to override the inline height given by jQuery UI when the card is dragged */
}
li.acbModuleBlacklist.ui-state-disabled {
    opacity: .35;
}
.ui-icon-trash {
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url("../img/ui-icons_222222_256x240.png");
    background-position: -176px -96px;
}
fieldset hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
